<?xml version="1.0" encoding="utf-8"?>
<config component='com_order'>
	<fieldset name="component" label="采购订单" description="采购订单管理组件特殊配置（暂无）"></fieldset>

	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules" component="com_order" filter="rules" validate="rules" label="JCONFIG_PERMISSIONS_LABEL" section="component"/>
	</fieldset>
</config>