<?xml version="1.0" encoding="utf-8"?>
<config component='com_epc'>
	<fieldset name="component" label="EPC类别" description="EPC类别的组件"></fieldset>

	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules" component="com_epcs" filter="rules" validate="rules" label="JCONFIG_PERMISSIONS_LABEL" section="component"/>
	</fieldset>
</config>